{% extends "layout.html" %}
{% block content %}
	<section id="aboutPg" class="media content-section">
		<div class="media-body">
			<h1>About BlogIt</h1>
			<hr>
			<p>BlogIt is a web application built with Python using the Flask framework. It provides a platform for users to create, read, update, and delete blog posts. The application also includes user management functionalities such as user registration, login, logout, password reset, and user profile management.</p>

			<h3>Features</h3>
			<hr>

			<h4>Blog Post Management</h4>
			<ul>
			<li>Create a new blog post by providing a title, content, and optional image.</li>
			<li>Allows you to edit or delete your existing blog post.</li>
			<li>View other people's blog posts.</li>
			</ul>

			<h4>User Management</h4>
			<ul>
			<li>Register a new user account by providing a unique username, valid email address, and secure password.</li>
			<li>Log in to an existing user account using the email and password.</li>
			<li>Log out from the user account, ending the session.</li>
			<li>Reset the password by requesting a password reset email.</li>
			<li>Update the user profile information, including the username, email, and profile image.</li>
			<li>Delete the user account, removing all associated blog posts.</li>
			</ul>

			<h4>Authentication and Authorization</h4>
			<ul>
			<li>Secure user authentication using password hashing with bcrypt.</li>
			<li>Protect routes and functionalities from unauthorized access.</li>
			<li>Restrict access to certain actions based on user roles or ownership.</li>
			</ul>
			<hr>

			<h3>About the Developer</h3>
			<p>Hello, I am Sagar Mishra, the developer of BlogIt. I created this application as a personal project to showcase my skills in web development and my proficiency in using the Flask framework. Flask Blog is the result of my passion for building user-friendly and feature-rich web applications.</p>

			<h4>Technologies Used</h4>
			<ul>
			<li>Python</li>
			<li>Flask</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Bootstrap</li>
			<li>Jinja2</li>
			</ul>

			<p>Feel free to reach out to me if you have any questions, suggestions, or feedback. Let's connect and build amazing things together!</p>
            <div class="container justify-content-center">
			<div class="row">
			<a class="col" href="https://www.linkedin.com/in/sagar-mishra-developer" target="_blank"><i class="bi-linkedin text-gradient d-block" style="font-size: 2rem"></i></a>
			<a class="col" href="https://www.github.com/Sagarmishra-C30" target="_blank"><i class="bi-github text-gradient d-block" style="font-size: 2rem"></i></a>
			<a class="col" href="mailto:Timepass082822@gmail.com" target="_blank"><i class="bi-envelope-fill text-gradient d-block" style="font-size: 2rem"></i></a>
			</div>
			</div>
		</div>
	</section>
	

{% endblock content %}